<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    {% block stylesheets %}
        <link href="{{ asset('dashboard/css/main.css') }}" rel="stylesheet"/>
        <link href="{{ asset('dashboard/css/responsive_account.css') }}" rel="stylesheet"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    {% endblock %}
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({selector: '.type_box'});</script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script>
        function update_tags() {
            var tag_title = $('#tag_title').val();
            var tag_body = $('#tag_body').val();
            var tag_created_by = $('#tag_created_by').val();
            var formData = {update: "", title: tag_title, body: tag_body, created_by: tag_created_by};

            $.ajax({
                url: "http://localhost/hello/itsme.php",
                type: "GET",
                data: formData,
                success: function (data, textStatus, jqXHR) {
                },
                error: function (jqXHR, textStatus, errorThrown) {

                }
            });
            $(".motd_header_text").html(tag_title);
            $(".motd_body_text").html(tag_body);
            $(".motd_created_by").html(tag_created_by);
            $("#ul_rest_service").toggle();
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#ul_rest_service").css("display", "none");
            $("#toggle_rest_box").click(function () {
                $("#ul_rest_service").toggle();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#comment_toggle").css("display", "none");
            $(".button_toggle_comments").click(function () {
                $("#comment_toggle").toggle();
                $("html, body").animate({ scrollTop: $(document).height()-$(window).height() });
            });
        });
    </script>
</head>
<body>

<div id="bg_placeholder">
    <div id="global_container">
        <div id="dashboard_header_title">
            <h1 class="dashboard_header_title_text">
                <img id="account_dashboard_icon" src="{{ asset('dashboard/images/header_title_icon.jpg') }}"
                     alt="account dashboard icon">
                Account </h1>
        </div>
        <div id="dashboard_containter">
            <p class="block_text">
                <div id="motd_quote">
                    <blockquote><span class="motd_header_text">{{ tag_title }}</span> <span class="motd_body_text">{{ tag_body }}</span> <span class="motd_by_text">by </span><span class="motd_created_by">{{ tag_created_by }}</span> <a href="#" title="edit motd" onclick="return false;"
                                                  id="toggle_rest_box"><i class="fa fa-cog fa -2x"></i></a>
            <p></p></blockquote>

        </div>
        <section id="section_motd">
            <ul id="ul_rest_service">
                <li class="li_font_shiny_big">Title</li>
                <li><input required type="text" id="tag_title" value="{{ tag_title }}"></li>
                <li class="li_font_shiny_big">Message</li>
                <li><textarea required type="text" id="tag_body">{{ tag_body }}</textarea></li>
                <li class="li_font_shiny_big">Created By</li>
                <li><input required type="text" id="tag_created_by" value="{{ tag_created_by }}"></li>
                <li class="li_not_inline"><a class="a_button_fancy" href="#"
                                             onclick="update_tags(); return false;">Update</a></li>
            </ul>
            <div id="news_message_body">
                <ul id="ul_avatar_block">

                    <li id="li_avatar">
                        {% if fb_bool is empty %}
                            {% if avatar_data_img is empty %}
                                <img src="{{ asset('/uploads/') }}{{ avatar_src }}" alt="avatar">
                            {% else %}
                                <img src="{{ avatar_data_img }}" alt="avatar">
                            {% endif %}
                        {% else %}
                            <img src="https://graph.facebook.com/{{ avatar_src }}/picture?type=normal" alt="avatar">
                        {% endif %}

                    </li>
                </ul>
                <ul>
                    {% if fb_bool is empty %}
                        <li><h2>Welcome {{ username }}! <a title="logout user"  href="{{ asset('logout') }}"><i
                                            class="fa fa-sign-out"></i></a></h2></li>
                        <li><i class="fa fa-cog fa -2x"></i> ! -
                        </li>
                    {% else %}
                        <li><h2>Welcome {{ fb_real_name }}! <a title="logout user" href="{{ asset('logout') }}"><i
                                            class="fa fa-sign-out"></i></a></h2></li>
                    {% endif %}
                    <li class="li_font_shiny_small"><i class="fa fa-cog fa -2x"></i> user id: {{ user_id }}</li>
                    <li class="li_font_shiny_small"><i class="fa fa-cog fa -2x"></i> user email: {{ email }}</li>
                    <li class="li_font_shiny_small"><i class="fa fa-cog fa -2x"></i> account created: {{ created }}</li>
                </ul>

            </div>
        </section>


        {% if comment_exist == 0 %}
            <ul>
                <p class="comment_exist">
                    <i class="fa fa-exclamation"></i>
                     Uh oh.. no comments exist yet!
                </p>
            </ul>

        {% endif %}
        <ul id="ul_toggle_comments">
            <li><a class="button_toggle_comments" href="#" onclick="toggle_comments();" onclick="return false;">Toggle Comments</a></li>
        </ul>
        {% if comment_data is defined %}
            <ul class="ul_comment_overal">
                {% for p in comment_data|raw %}
                    <li class="comment_boxie_head">
                        {{ p.title }}
                        <a title="delete comment" class="link_comment_delete"
                           href="{{ asset('comment_delete/') }}{{ p.id }}"><i class="fa fa-trash fa-2x"></i></a>
                    </li>
                    <li class="comment_boxie">
                        {{ p.body|raw }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <section id="comment_toggle">
        {% if comment is defined %}
            <textarea class="comment_boxie">{{ comment }}</textarea>
        {% endif %}
        <form action="" method="post">
            {% if comment_msg is defined %}
                <ul>
                    <li class="li_success_msg"> {{ comment_msg }}</li>
                </ul>
            {% endif %}
            <div id="comment_area">
                <ul class="ul_comment_title">
                    <li><input required type="text" value="title" name="title_comment" class="title_comment"></li>
                </ul>
                <textarea class="type_box" name="comment">text here..</textarea>
                {% if comment_exist > 0 %}
                    <a class="button_fancy_delete_all" href="{{ asset('comment_delete_all') }}">delete all
                        comments</a>
                {% endif %}
                <input type="submit" class="button_fancy" name="comment_submit" value="Comment">
            </div>
        </form>
        </p>
        </section>
    </div>
</div>
</div>
</body>
</html>