<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    {% block stylesheets %}
        <link href="{{ asset('dashboard/css/main.css') }}" rel="stylesheet"/>
        <link href="{{ asset('dashboard/css/responsive.css') }}" rel="stylesheet"/>
    {% endblock %}
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({selector: '.type_box'});</script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
       function update_tags() {
         var tag_title =  $('#tag_title').val();
         var tag_body =  $('#tag_body').val();
         var tag_created_by =  $('#tag_created_by').val();
           var formData = {update: "",title: tag_title, body: tag_body,created_by: tag_created_by};

           $.ajax({
               url: "http://localhost/hello/itsme.php",
               type: "GET",
               data: formData,
               success: function (data, textStatus, jqXHR) {
               },
               error: function (jqXHR, textStatus, errorThrown) {

               }
           });
           alert("tags updated. ajax parameters send to api");
       }

    </script>
</head>
<body>
<div id="bg_placeholder">
    <div id="global_container">
        <div id="dashboard_header_title">
            <h1 class="dashboard_header_title_text">
                <img id="account_dashboard_icon" src="{{ asset('dashboard/images/header_title_icon.jpg') }}"
                     alt="account dashboard icon">
                Account </h1>
        </div>
        <div id="dashboard_containter">
            <p class="block_text">
<form action="" method="post">
            <table id="motd">
                <tr><h2>News message of the day</h2></tr>
                <tr>
                    <td>Title: </td><td><input type="text" id="tag_title" value="{{ tag_title }}" ></td>
                </tr>
                <tr>
                    <td>Body: </td><td><input type="text" id="tag_body" value="{{ tag_body }}" ></td>
                </tr>
                <tr>
                    <td>Created By: </td><td> <input type="text" id="tag_created_by" value="{{ tag_created_by }}" ></td>
                </tr>
                <tr>
                    <td><input class="button_fancy" type="button" onclick="update_tags();" value="update tags by api"></td>
                </tr>
            </table>

            </form>


            {% if avatar_data_img is empty %}
                    <img src="{{ asset('/uploads/') }}{{ avatar_src }}" alt="avatar">
                {% else %}
                    <img src="{{ avatar_data_img }}" alt="avatar">
                {% endif %}
            <h3>Hello {{ username }} ! - <a href="{{ asset('logout') }}">logout</a></h3>
            {% if comment_exist == 0 %}
                <ul>
                    <p class="comment_exist">
                        Uh oh.. no comments exist yet!
                    </p>
                </ul>
            {% endif %}
            {% if comment_data is defined %}
                <ul>
                    {% for p in comment_data|raw %}
                        <li class="comment_boxie_head">
                            {{ p.title }}
                            <a class="link_comment_delete" href="{{ asset('comment_delete/') }}{{ p.id }}">delete</a>
                        </li>
                        <li class="comment_boxie">
                            {{ p.body|raw }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if comment is defined %}
                <textarea class="comment_boxie">{{ comment }}</textarea>
            {% endif %}
            <form action="" method="post">
                {% if comment_msg is defined %}
                    <ul>
                        <li class="li_success_msg"> {{ comment_msg }}</li>
                    </ul>
                {% endif %}
                <div id="comment_area">
                    <ul>
                        <li><input required type="text" value="title" name="title_comment" class="title_comment"></li>
                    </ul>
                    <textarea class="type_box" name="comment">text here..</textarea>
                    {% if comment_exist > 0 %}
                        <a class="button_fancy_delete_all" href="{{ asset('comment_delete_all') }}">delete all
                            comments</a>
                    {% endif %}
                    <input type="submit" class="button_fancy" name="comment_submit" value="Comment">
                </div>
            </form>
            </p>
        </div>
    </div>
</div>
</body>
</html>