<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% block stylesheets %}
        <link href="{{ asset('dashboard/css/main.css') }}" rel="stylesheet"/>
        <link href="{{ asset('dashboard/css/dropzone.css') }}" rel="stylesheet"/>
        <link href="{{ asset('dashboard/css/responsive.css') }}" rel="stylesheet"/>
    {% endblock %}
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="{{ asset('dashboard/js/dropzone.js') }}"></script>
    <script>
        function success(response) {
            $(".dropzone").css("background-image", "none");
            $("#avatar_hidden").val(response);
        }
        function addbg() {
            $(".dropzone").css("background-image", "../images/upload_img.png)");

        }
        Dropzone.options.myAwesomeDropzone = {
            maxFilesize: 10,
            acceptedFiles: "image/*",
            success: function(file, response){
                success(response);

            },
            error: addbg,
            accept: function (file, done) {
                console.log("uploaded" + file);
                done();
            },
            init: function () {
                this.on("addedfile", function () {
                    if (this.files[1] != null) {
                        this.removeFile(this.files[0]);
                    }
                });
            }
        };
    </script>
</head>
<body>
<div id="bg_placeholder">
    <div id="global_container">
        <div id="dashboard_header_title">
            <h1 class="dashboard_header_title_text">
                <img id="account_dashboard_icon" src="{{ asset('dashboard/images/header_title_icon.jpg') }}"
                     alt="account dashboard icon">
                Login To Your Account / Register New</h1>
        </div>
        <div id="dashboard_containter">
            <p class="block_text">
            <div id="dashboard_left_col">
                <img id="account_lwf" src="{{ asset('dashboard/images/lwf_slice.png') }}"
                     alt="login with facebook" title="Login with Facebook">
                <img id="hor_tussenstuk" src="{{ asset('dashboard/images/tussenstuk_hor_slice.png') }}"
                     alt="dashboard hor line">
                <form action="{{ asset('/dashboard') }}" method="post">
                    <ul class="ul_login">
                        {% if error is defined %}
                            <li class="li_error_msg">Ongeldige gebruikersnaam en/of wachtwoord.</li>
                        {% endif %}
                        <li><input class="input_username" type="text" value="User Name" name="username" required></li>
                        <li><input class="input_password" type="password" value="Password" name="password" required>
                        </li>
                    </ul>

                    <ul class="ul_login_actions">
                        <li class="li_remember"><input type="checkbox"> Remember my password</li>
                        <li><input type="submit" value="Login" name="submit_login" class="button_fancy"></li>
                    </ul>
                </form>
            </div>
            <div id="dashboard_right_col">
                <img id="ver_tussenstuk" src="{{ asset('dashboard/images/tussenstuk_ver_slice.png') }}"
                     alt="dashboard ver line">
                <ul class="ul_register_header">
                    <li id="li_title_register_text">Register</li>
                    <li id="li_profile_image_text">
                        <form action="dashboard/upload_avatar"
                              class="dropzone"
                              id="my-awesome-dropzone">
                        </form>
                    </li>
                </ul>
                <form action="{{ asset('/dashboard') }}" method="post">
                    <ul id="register_form">
                        {% if error_register is defined %}
                            <li class="li_error_msg">Vul alle velden in aub.</li>
                        {% endif %}
                        {% if succes is defined %}
                            <li class="li_success_msg">{{ succes }}</li>
                        {% endif %}
                        <li class="register_heading_text">Email</li>
                        <li><input class="input_register" type="email" value="" name="email_register" required></li>
                        <li class="register_heading_text">User Name</li>
                        <li><input class="input_register" type="text" value="" name="username_register" required></li>
                        <li class="register_heading_text">Password</li>
                        <li><input class="input_register" type="password" value="" name="password_register" required>
                        </li>
                        <li><input id="input_submit_register" type="submit" value="Register" name="submit_register">
                            <input type="hidden" id="avatar_hidden" value="" name="avatar_src">
                        </li>
                    </ul>
                </form>
            </div>
            </p>
        </div>
    </div>
</div>
</body>
</html>