<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% block stylesheets %}
        <link href="{{ asset('dashboard/css/main.css') }}" rel="stylesheet"/>
        <link href="{{ asset('dashboard/css/responsive.css') }}" rel="stylesheet"/>
    {% endblock %}
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="bg_placeholder">

    <div id="global_container">
        <div id="dashboard_header_title">
            <h1 class="dashboard_header_title_text">
                <img id="account_dashboard_icon" src="{{ asset('dashboard/images/header_title_icon.jpg') }}"
                     alt="account dashboard icon">
                Login To Your Account / Register New</h1>
        </div>
        <div id="dashboard_containter">
            <p class="block_text">
                <!-- Hello {{ pass_name }}!<br>-->
            <div id="dashboard_left_col">
                <img id="account_lwf" src="{{ asset('dashboard/images/lwf_slice.png') }}"
                     alt="login with facebook" title="Login with Facebook">

                <form action="" method="post">
                    <ul class="ul_login">
                        <li><input class="input_username" type="text" value="User Name" name="username"></li>
                        <li><input class="input_password" type="password" value="Password" name="password"></li>
                    </ul>

                <ul class="ul_login_actions">
                    <li class="li_remember"><input type="checkbox"> Remember my password </li>
                    <li><input type="submit" value="Login" class="button_fancy"> </li>
                </ul>
                </form>
            </div>
            <div id="dashboard_right_col">
                b
            </div>
            </p>
        </div>
    </div>
</div>
</body>
</html>